.dayBlock {
    width: 100px;
    height: 140px;
    border: solid black 1px;
    font-size: .6em;
    display: inline-block;
    
}

.selected {
    background-color: lightblue;
    width: 100px;
    height: 140px;
    border: solid black 1px;
    font-size: .6em;
    display: inline-block;
}

.day {
    padding: 35px;
}